In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv("train.csv")

In [3]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
x = ds.iloc[:,[6,7,8,9,10]]

In [5]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,NaN,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0
610,4106,0.0,40.0,180.0,1.0
611,8072,240.0,253.0,360.0,1.0
612,7583,0.0,187.0,360.0,1.0
613,4583,0.0,133.0,360.0,0.0

In [6]:
x["LoanAmount"].fillna(0, inplace = True)

c:\users\sudeep nellur\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [7]:
x["Loan_Amount_Term"].fillna(0, inplace = True)

In [8]:
x["Credit_History"].fillna(0, inplace = True)

In [9]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,0.0,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0
610,4106,0.0,40.0,180.0,1.0
611,8072,240.0,253.0,360.0,1.0
612,7583,0.0,187.0,360.0,1.0
613,4583,0.0,133.0,360.0,0.0

In [10]:
y = ds.iloc[:,-1]

In [11]:
y

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder as le

y = le().fit_transform(y[0:614])

In [13]:
from sklearn.preprocessing import StandardScaler as ss

x = ss().fit_transform(x)

In [14]:
import keras
from keras.models import Sequential 
from keras.layers import Dense

Using TensorFlow backend.

In [15]:
model = Sequential()

In [16]:
model.add(Dense(units = 10, activation = "relu", input_dim = 5))

In [17]:
model.add(Dense(units = 6, activation = "relu"))

In [18]:
model.add(Dense(units = 4, activation = "relu"))

In [19]:
model.add(Dense(units = 1, activation = "sigmoid"))

In [20]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['acc'])

In [21]:
model.fit(x, y, batch_size = 32, epochs = 100)

Epoch 1/100
614/614 [==============================] - 0s 224us/step - loss: 0.6750 - acc: 0.6792
Epoch 2/100
614/614 [==============================] - 0s 31us/step - loss: 0.6575 - acc: 0.7036
Epoch 3/100
614/614 [==============================] - 0s 35us/step - loss: 0.6382 - acc: 0.6971
Epoch 4/100
614/614 [==============================] - 0s 34us/step - loss: 0.6154 - acc: 0.6906
Epoch 5/100
614/614 [==============================] - 0s 33us/step - loss: 0.5923 - acc: 0.6938
Epoch 6/100
614/614 [==============================] - 0s 34us/step - loss: 0.5767 - acc: 0.6987
Epoch 7/100
614/614 [==============================] - 0s 36us/step - loss: 0.5672 - acc: 0.7199
Epoch 8/100
614/614 [==============================] - 0s 33us/step - loss: 0.5595 - acc: 0.7590
Epoch 9/100
614/614 [==============================] - 0s 33us/step - loss: 0.5531 - acc: 0.7671
Epoch 10/100
614/614 [==============================] - 0s 34us/step - loss: 0.5471 - acc: 0.7687
Epoch 11/100
614/614 [==============================] - 0s 33us/step - loss: 0.5431 - acc: 0.7736
Epoch 12/100
614/614 [==============================] - 0s 34us/step - loss: 0.5396 - acc: 0.7736
Epoch 13/100
614/614 [==============================] - 0s 34us/step - loss: 0.5365 - acc: 0.7736
Epoch 14/100
614/614 [==============================] - 0s 33us/step - loss: 0.5343 - acc: 0.7720
Epoch 15/100
614/614 [==============================] - 0s 36us/step - loss: 0.5321 - acc: 0.7736
Epoch 16/100
614/614 [==============================] - 0s 36us/step - loss: 0.5317 - acc: 0.7736
Epoch 17/100
614/614 [==============================] - 0s 31us/step - loss: 0.5293 - acc: 0.7752
Epoch 18/100
614/614 [==============================] - 0s 33us/step - loss: 0.5281 - acc: 0.7736
Epoch 19/100
614/614 [==============================] - 0s 37us/step - loss: 0.5271 - acc: 0.7720
Epoch 20/100
614/614 [==============================] - 0s 33us/step - loss: 0.5260 - acc: 0.7736
Epoch 21/100
614/614 [==============================] - 0s 38us/step - loss: 0.5248 - acc: 0.7704
Epoch 22/100
614/614 [==============================] - 0s 36us/step - loss: 0.5236 - acc: 0.7704
Epoch 23/100
614/614 [==============================] - 0s 34us/step - loss: 0.5226 - acc: 0.7704
Epoch 24/100
614/614 [==============================] - 0s 33us/step - loss: 0.5218 - acc: 0.7704
Epoch 25/100
614/614 [==============================] - 0s 36us/step - loss: 0.5211 - acc: 0.7720
Epoch 26/100
614/614 [==============================] - 0s 34us/step - loss: 0.5204 - acc: 0.7736
Epoch 27/100
614/614 [==============================] - 0s 33us/step - loss: 0.5202 - acc: 0.7720
Epoch 28/100
614/614 [==============================] - 0s 33us/step - loss: 0.5203 - acc: 0.7720
Epoch 29/100
614/614 [==============================] - 0s 36us/step - loss: 0.5193 - acc: 0.7720
Epoch 30/100
614/614 [==============================] - 0s 36us/step - loss: 0.5192 - acc: 0.7720
Epoch 31/100
614/614 [==============================] - 0s 36us/step - loss: 0.5188 - acc: 0.7736
Epoch 32/100
614/614 [==============================] - 0s 34us/step - loss: 0.5183 - acc: 0.7720
Epoch 33/100
614/614 [==============================] - 0s 36us/step - loss: 0.5183 - acc: 0.7704
Epoch 34/100
614/614 [==============================] - 0s 37us/step - loss: 0.5175 - acc: 0.7720
Epoch 35/100
614/614 [==============================] - 0s 39us/step - loss: 0.5175 - acc: 0.7720
Epoch 36/100
614/614 [==============================] - 0s 36us/step - loss: 0.5165 - acc: 0.7720
Epoch 37/100
614/614 [==============================] - 0s 34us/step - loss: 0.5168 - acc: 0.7720
Epoch 38/100
614/614 [==============================] - 0s 34us/step - loss: 0.5165 - acc: 0.7736
Epoch 39/100
614/614 [==============================] - 0s 37us/step - loss: 0.5155 - acc: 0.7736
Epoch 40/100
614/614 [==============================] - 0s 36us/step - loss: 0.5153 - acc: 0.7736
Epoch 41/100
614/614 [==============================] - 0s 33us/step - loss: 0.5146 - acc: 0.7736
Epoch 42/100
614/614 [==============================] - 0s 36us/step - loss: 0.5141 - acc: 0.7720
Epoch 43/100
614/614 [==============================] - 0s 37us/step - loss: 0.5147 - acc: 0.7720
Epoch 44/100
614/614 [==============================] - 0s 34us/step - loss: 0.5139 - acc: 0.7720
Epoch 45/100
614/614 [==============================] - 0s 34us/step - loss: 0.5133 - acc: 0.7720
Epoch 46/100
614/614 [==============================] - 0s 39us/step - loss: 0.5138 - acc: 0.7720
Epoch 47/100
614/614 [==============================] - 0s 38us/step - loss: 0.5136 - acc: 0.7736
Epoch 48/100
614/614 [==============================] - 0s 36us/step - loss: 0.5123 - acc: 0.7720
Epoch 49/100
614/614 [==============================] - 0s 36us/step - loss: 0.5123 - acc: 0.7720
Epoch 50/100
614/614 [==============================] - 0s 34us/step - loss: 0.5118 - acc: 0.7720
Epoch 51/100
614/614 [==============================] - 0s 34us/step - loss: 0.5114 - acc: 0.7720
Epoch 52/100
614/614 [==============================] - 0s 36us/step - loss: 0.5114 - acc: 0.7736
Epoch 53/100
614/614 [==============================] - 0s 39us/step - loss: 0.5118 - acc: 0.7736
Epoch 54/100
614/614 [==============================] - 0s 33us/step - loss: 0.5100 - acc: 0.7720
Epoch 55/100
614/614 [==============================] - 0s 36us/step - loss: 0.5103 - acc: 0.7736
Epoch 56/100
614/614 [==============================] - 0s 34us/step - loss: 0.5093 - acc: 0.7736
Epoch 57/100
614/614 [==============================] - 0s 38us/step - loss: 0.5091 - acc: 0.7752
Epoch 58/100
614/614 [==============================] - 0s 34us/step - loss: 0.5088 - acc: 0.7736
Epoch 59/100
614/614 [==============================] - 0s 38us/step - loss: 0.5088 - acc: 0.7736
Epoch 60/100
614/614 [==============================] - 0s 36us/step - loss: 0.5079 - acc: 0.7736
Epoch 61/100
614/614 [==============================] - 0s 39us/step - loss: 0.5080 - acc: 0.7752
Epoch 62/100
614/614 [==============================] - 0s 36us/step - loss: 0.5071 - acc: 0.7736
Epoch 63/100
614/614 [==============================] - 0s 33us/step - loss: 0.5076 - acc: 0.7736
Epoch 64/100
614/614 [==============================] - 0s 38us/step - loss: 0.5073 - acc: 0.7752
Epoch 65/100
614/614 [==============================] - 0s 38us/step - loss: 0.5066 - acc: 0.7769
Epoch 66/100
614/614 [==============================] - 0s 38us/step - loss: 0.5061 - acc: 0.7752
Epoch 67/100
614/614 [==============================] - 0s 36us/step - loss: 0.5057 - acc: 0.7769
Epoch 68/100
614/614 [==============================] - 0s 36us/step - loss: 0.5060 - acc: 0.7752
Epoch 69/100
614/614 [==============================] - 0s 36us/step - loss: 0.5050 - acc: 0.7769
Epoch 70/100
614/614 [==============================] - 0s 34us/step - loss: 0.5053 - acc: 0.7769
Epoch 71/100
614/614 [==============================] - 0s 34us/step - loss: 0.5047 - acc: 0.7769
Epoch 72/100
614/614 [==============================] - 0s 36us/step - loss: 0.5046 - acc: 0.7801
Epoch 73/100
614/614 [==============================] - 0s 34us/step - loss: 0.5043 - acc: 0.7785
Epoch 74/100
614/614 [==============================] - 0s 36us/step - loss: 0.5049 - acc: 0.7801
Epoch 75/100
614/614 [==============================] - 0s 34us/step - loss: 0.5036 - acc: 0.7769
Epoch 76/100
614/614 [==============================] - 0s 38us/step - loss: 0.5029 - acc: 0.7769
Epoch 77/100
614/614 [==============================] - 0s 36us/step - loss: 0.5044 - acc: 0.7785
Epoch 78/100
614/614 [==============================] - 0s 36us/step - loss: 0.5026 - acc: 0.7801
Epoch 79/100
614/614 [==============================] - 0s 34us/step - loss: 0.5017 - acc: 0.7801
Epoch 80/100
614/614 [==============================] - 0s 36us/step - loss: 0.5015 - acc: 0.7785
Epoch 81/100
614/614 [==============================] - ETA: 0s - loss: 0.5341 - acc: 0.718 - 0s 38us/step - loss: 0.5014 - acc: 0.7785
Epoch 82/100
614/614 [==============================] - 0s 34us/step - loss: 0.5010 - acc: 0.7785
Epoch 83/100
614/614 [==============================] - 0s 36us/step - loss: 0.5008 - acc: 0.7801
Epoch 84/100

614/614 [==============================] - 0s 33us/step - loss: 0.5005 - acc: 0.7785
Epoch 85/100
614/614 [==============================] - 0s 38us/step - loss: 0.5004 - acc: 0.7785
Epoch 86/100
614/614 [==============================] - 0s 34us/step - loss: 0.4999 - acc: 0.7801
Epoch 87/100
614/614 [==============================] - 0s 36us/step - loss: 0.5006 - acc: 0.7801
Epoch 88/100
614/614 [==============================] - 0s 36us/step - loss: 0.5008 - acc: 0.7801
Epoch 89/100
614/614 [==============================] - 0s 36us/step - loss: 0.4996 - acc: 0.7801
Epoch 90/100
614/614 [==============================] - 0s 33us/step - loss: 0.4988 - acc: 0.7785
Epoch 91/100
614/614 [==============================] - 0s 34us/step - loss: 0.4991 - acc: 0.7785
Epoch 92/100
614/614 [==============================] - 0s 33us/step - loss: 0.4988 - acc: 0.7801
Epoch 93/100
614/614 [==============================] - 0s 34us/step - loss: 0.4979 - acc: 0.7834
Epoch 94/100
614/614 [==============================] - 0s 34us/step - loss: 0.4981 - acc: 0.7818
Epoch 95/100
614/614 [==============================] - 0s 36us/step - loss: 0.4977 - acc: 0.7818
Epoch 96/100
614/614 [==============================] - 0s 34us/step - loss: 0.4970 - acc: 0.7801
Epoch 97/100
614/614 [==============================] - 0s 34us/step - loss: 0.4977 - acc: 0.7818
Epoch 98/100
614/614 [==============================] - 0s 33us/step - loss: 0.4971 - acc: 0.7834
Epoch 99/100
614/614 [==============================] - 0s 36us/step - loss: 0.4965 - acc: 0.7801
Epoch 100/100
614/614 [==============================] - 0s 36us/step - loss: 0.4969 - acc: 0.7834

In [22]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                60
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 66
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 28
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 5
=================================================================
Total params: 159
Trainable params: 159
Non-trainable params: 0
_________________________________________________________________